In [1]:
import pandas as pd
import mintfunctions

### 1.0 - User Process Transaction Data

In [16]:
#Load historical data
df = pd.read_csv(r'./data/transactions.csv',index_col='Date',encoding='latin-1',infer_datetime_format=True)
df.index = pd.to_datetime(df.index)
df = mintfunctions.process_mintcsv(df)
df.tail()

,Description,Original Description,Amount,Transaction Type,Category,Account Name,Label,Notes,YYYY,MM,DD,Overall_Category
Date,,,,,,,,,,,,
2021-12-30,Dummy,Dummy,0,credit,Income,Example,NaN,NaN,2021,12,30,Reimbursement
2021-12-30,Dummy,Dummy,-30,debit,Investments,Example,NaN,NaN,2021,12,30,Transfer
2021-12-31,Dummy,Dummy,-20,debit,Gas & Fuel,Example,NaN,NaN,2021,12,31,Auto & Transport
2021-12-31,Dummy,Dummy,0,credit,Interest Income,Example,NaN,NaN,2021,12,31,Income
2021-12-31,Dummy,Dummy,0,debit,Investments,Example,NaN,NaN,2021,12,31,Transfer

## 2.0 - Generate and Save Figures as pdf

In [17]:
mintfunctions.generate_pdf(df,
             pdfdir = '', 
             figdir = r'./figures',
             yearly_exclude_category = None, 
             spending_drop_categories = ['Income', 'Transfer','Reimbursement','Credit Card Payment','Loans'])

### Optional - Extract specified year, category, and month to examine transactions

In [ ]:
year = 2022
cat = 'Home Improvement'
month = 8

df_spending[(df_spending['MM']==month) & (df_spending['YYYY']==year) & (df_spending['Overall_Category'] ==cat)]